In [2]:
#lets first install the selenium library
! pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.25.9)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [2]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [68]:
driver=webdriver.Chrome(r"c://chromedriver.exe")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [8]:
#scraping the Rank
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        rank=driver.find_element_by_xpath("//tr[@class='center']/td").text
        Rank.append(rank[0])
    except NoSuchElementException :
        Rank.append("---")

[]

In [17]:
#scraping the Rank
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/td")
for i in rank:
    rank=i.text
    Rank.append(r) 
Rank[0:2]

[]

In [22]:
#scraping the Name
name=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
for i in name:
    n=i.text
    Name.append(n) 
Name[0:10]

['music videos',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Cocomelon – Nursery Rhymes',
 'Major Lazer Official',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'The Gummy Bear Song',
 'Fueled By Ramen']

In [14]:
#scraping the Upload_date
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='/wiki/Pinkfong']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        date=driver.find_element_by_xpath("//a[@class='right']/td").text
        Upload_date.append(date[0])
    except NoSuchElementException :
        Upload_date.append("---")

In [15]:
#scraping the Artist
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='/wiki/Luis_Fonsi']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_artst=driver.find_element_by_xpath("//td[@class='/wiki/Luis_Fonsi']/a").text
        Artist.append(raw_artst[0])
    except NoSuchElementException :
        Artist.append("---")

In [19]:
#scraping the Views
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='/wiki/Pinkfong']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        view=driver.find_element_by_xpath("//a[@class='center']/td").text
        Views.append(view[0])
    except NoSuchElementException :
        Views.append("---")

In [25]:
 # creating the dataframe from the scraped data and taking only first 10 
df=pd.DataFrame({"rank":Rank[0:10],"n":Name[0:10],"raw_artst":Artist[0:10],
                "date":Upload_date[0:10],"view":Views[0:10]})
df.head()

ValueError: arrays must all be same length

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [26]:
driver.get("https://www.bcci.tv/")

In [27]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time_Note=[]

In [28]:
#scraping the match title
title=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in title:
    mt=i.text
    Match_title.append(mt) 
Match_title[0:10]

['ICC WORLD TEST CHAMPIONSHIP FINAL',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [29]:
#scraping the Series
series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in series:
    sr=i.text
    Series.append(sr) 
Series[0:10]

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [33]:
#scraping the Place
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    pl=i.text
    Place.append(pl) 
Place[0:10]

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [34]:
#scraping the Date
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
for i in date:
    dt=i.text
    Date.append(dt) 
Date[0:10]

['Friday 18th June',
 'Wednesday 4th August',
 'Thursday 12th August',
 'Wednesday 25th August',
 'Thursday 2nd September',
 'Friday 10th September']

In [36]:
#scraping the Time Note
time=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/span")
for i in time:
    tn=i.text
    Time_Note.append(tn) 
Time_Note[0:10]

['Friday 18th June 15:30 IST',
 'Wednesday 4th August 15:30 IST',
 'Thursday 12th August 15:30 IST',
 'Wednesday 25th August 15:30 IST',
 'Thursday 2nd September 15:30 IST',
 'Friday 10th September 15:30 IST']

In [37]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"mt":Match_title[0:10],"sr":Series[0:10],"pl":Place[0:10],
                "dt":Date[0:10],"tn":Time_Note[0:10]})
df.head()

,mt,sr,pl,dt,tn
0,ICC WORLD TEST CHAMPIONSHIP FINAL,Final,"The Ageas Bowl, Southampton",Friday 18th June,Friday 18th June 15:30 IST
1,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",Wednesday 4th August,Wednesday 4th August 15:30 IST
2,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",Thursday 12th August,Thursday 12th August 15:30 IST
3,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",Wednesday 25th August,Wednesday 25th August 15:30 IST
4,ENGLAND V INDIA 2021,4th Test,"The Oval, London",Thursday 2nd September,Thursday 2nd September 15:30 IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [38]:
driver.get("https://www.guru99.com/")

In [42]:
# entering “Selenium exception” in search field 
search_field=driver.find_element_by_id("gsc-i-id2")

search_field.send_keys("selenium exception handling")

In [43]:
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")
search_button.click()

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [16]:
driver.get("http://statisticstimes.com/")

In [18]:
# finding the economy box
eco=driver.find_element_by_xpath("//div[@class='dropdown']/button")
eco.click()

In [19]:
# finding the state-wise gdp of india
sel=driver.find_element_by_xpath("//a[@class='ec']")
sel.click()

In [20]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP1819=[]
GSDP1718=[]
Share=[]
GDP=[]

In [21]:
#scrapping rank
rank=driver.find_elements_by_xpath("//td[@class='data1']")
for i in rank[:32]:
    Rank.append(i.text)

In [23]:
#scrapping State
state=driver.find_elements_by_xpath("//td[@class='name']")
for i in state[:32]:
    State.append(i.text)

In [24]:
#scrapping GSDP1819
gsdp=driver.find_elements_by_xpath("//td[@class='data']")
for i in gsdp[:32]:
    GSDP1819.append(i.text)

In [25]:
#scrapping GSDP1718
gsdp1=driver.find_elements_by_xpath("//td[@class='data']")
for i in gsdp1[:32]:
    GSDP1718.append(i.text)

In [26]:
#scrapping Share
share=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for i in share[:32]:
    Share.append(i.text)

In [27]:
#scrapping GDP
gdp=driver.find_elements_by_xpath("//td[@class='data']")
for i in gdp[:32]:
    GDP.append(i.text)

In [30]:
#checking the length of each list
print(len(Rank))
print(len(GSDP1819))
print(len(GSDP1718))
print(len(Share))
print(len(GDP))

32
32
32
32
32

In [32]:
#creating a dataframe
df=pd.DataFrame({'rank':Rank,
                'gsdp':GSDP1819,
                'gsdp1':GSDP1718,
                 'share':Share,
                 'gdp':GDP})
#printing dataframe
print(df)

   rank       gsdp      gsdp1   share        gdp
0     1  2,632,792          -  13.88%          -
1     2  1,630,208     13.88%   8.59%  2,632,792
2     3  1,584,764    398.145   8.35%    398.145
3     4  1,502,899          -   7.92%          -
4     5  1,493,127  2,039,074   7.87%  2,039,074
5     6  1,089,898  1,845,853   5.75%  1,845,853
6     7    942,586      8.59%   4.97%  1,630,208
7     8    862,957    246.529   4.55%    246.529
8     9    861,031  1,312,929   4.54%  1,312,929
9    10    809,592  1,215,307   4.27%  1,215,307
10   11    781,653  1,687,818   4.12%  1,687,818
11   12    774,870      8.35%   4.08%  1,584,764
12   13    734,163    239.656   3.87%    239.656
13   14    530,363  1,166,817   2.80%  1,166,817
14   15    526,376  1,123,982   2.77%  1,123,982
15   16    487,805          -   2.57%          -
16   17    315,881      7.92%   1.67%  1,502,899
17   18    304,063    227.276   1.60%    227.276
18   19    297,204          -   1.57%          -
19   20    245,895  1,186,379   1.30%  1,186,379
20   21    155,956  1,631,977   0.82%  1,631,977
21   22    153,845      7.87%   0.81%  1,493,127
22   23     73,170    225.798   0.39%    225.798
23   24     49,845  1,156,039   0.26%  1,156,039
24   25     42,114  1,091,077   0.22%  1,091,077
25   26     34,433  1,253,832   0.18%  1,253,832
26   27     33,481      5.75%   0.18%  1,089,898
27   28     28,723    164.820   0.15%    164.820
28   29     27,870    793,223   0.15%    793,223
29   30     27,283    739,525   0.14%    739,525
30   31     24,603  1,020,989   0.13%  1,020,989
31   32     22,287      4.97%   0.12%    942,586

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note:From the home page you have to click on the trending option from Explore menu through code.

In [33]:
driver.get("https://github.com/")

In [39]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [40]:
#scrapping repository title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for i in title[:10]:
    Repository_title.append(i.text)

In [41]:
#scrapping Repository description
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc[:10]:
    Repository_description.append(i.text)

In [42]:
#scrapping Contributors count
count=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for i in count[:10]:
    Contributors_count.append(i.text)

In [43]:
#scrapping Language used
lng=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lng[:10]:
    Language_used.append(i.text)

In [44]:
#checking the length of each list
print(len(Repository_title))
print(len(Repository_description))
print(len(Contributors_count))
print(len(Language_used))

10
10
10
10

In [47]:
#creating a dataframe
df=pd.DataFrame({'title':Repository_title,
                'desc':Repository_description,
                'count':Contributors_count,
                 'lng':Language_used})
df.head(10)

,title,desc,count,lng
0,pallupz / covid-vaccine-booking,This very basic script can be used to automate...,311,Python
1,slidevjs / slidev,Presentation Slides for Developers (Public Bet...,127,TypeScript
2,Uniswap / uniswap-v3-core,🦄 🦄 🦄 Core smart contracts of Uniswap v3,"3,094",TypeScript
3,pixie-labs / pixie,Instant Kubernetes-Native Application Observab...,74,C++
4,flutter / flutter,Flutter makes it easy and fast to build beauti...,816,Dart
5,axios / axios,Promise based HTTP client for the browser and ...,152,JavaScript
6,andymatuschak / orbit,very currency,"1,315",TypeScript
7,dogecoin / dogecoin,Responsive Admin Panel or Dashboard using Flutter,54,C++
8,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,"Master the command line, in one page","120,104",Dart
9,jlevy / the-art-of-command-line,A collective list of free APIs,"17,064",Python

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [48]:
driver.get(" https://www.billboard.com/")

In [49]:
# clicking the chart check box
loc=driver.find_element_by_xpath("//a[@class='header__subnav__link text--uppercase font--semi-bold']")

# clicking the check box
loc.click()

In [50]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [51]:
#scrapping Song name
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song[:100]:
    Song_name.append(i.text)

In [52]:
#scrapping Artist Name
artst=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artst[:100]:
    Artist_name.append(i.text)

In [53]:
#scrapping Last week rank
weekrank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in weekrank[:100]:
    Last_week_rank.append(i.text)

In [54]:
#scrapping Peak rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak[:100]:
    Peak_rank.append(i.text)

In [55]:
#scrapping Weeks on board
weekonboard=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weekonboard[:100]:
    Weeks_on_board.append(i.text)

In [56]:
#checking the length of each list     
print(len(Song_name))
print(len(Artist_name))
print(len(Last_week_rank))
print(len(Peak_rank))
print(len(Weeks_on_board))

100
100
100
100
100

In [57]:
#creating a dataframe
df=pd.DataFrame({'song':Song_name,
                'artst':Artist_name,
                'weekrank':Last_week_rank,
                 'peak':Peak_rank,
                'weekonboard':Weeks_on_board})
df.head(100)

,song,artst,weekrank,peak,weekonboard
0,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,Rapstar,Polo G,1,1,3
4,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,Blame It On You,Jason Aldean,-,97,1
97,Wasted On You,Morgan Wallen,92,9,16
98,Way Less Sad,AJR,-,99,1
99,Clear Da Air,Moneybagg Yo,-,100,1

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [69]:
driver.get("https://www.naukri.com/")

In [59]:
# clicking the chart of Recruiters box
loc=driver.find_element_by_xpath("//div[@class='mTxt']")

# clicking the box
loc.click()

In [63]:
# entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_class_name('sugInp')
search_field_designation.clear()
search_field_designation.send_keys('Data Scientist')

In [64]:
#locating the button and clicking it to search
button=driver.find_element_by_class_name('btn')
button.click()

In [65]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [77]:
#scrapping Names
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name[:15]:
    Name.append(i.text)

In [78]:
#scrapping Designation
desg=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in desg[:15]:
    Designation.append(i.text)

In [79]:
#scrapping Company
cmpny=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in cmpny[:15]:
    Company.append(i.text)

In [80]:
#scrapping Skills they hire for
skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skill[:15]:
    Skills.append(i.text)

In [81]:
#scrapping Location
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in loc[:15]:
    Location.append(i.text)

In [82]:
#checking the length of each list     
print(len(Name))
print(len(Designation))
print(len(Company))
print(len(Skills))
print(len(Location))

0
0
0
0
0

In [83]:
#creating a dataframe
df=pd.DataFrame({'name':Name,
                'desg':Designation,
                'cmpny':Company,
                 'skill':Skills,
                'loc':Location})
df.head(15)

Empty DataFrame
Columns: [name, desg, cmpny, skill, loc]
Index: []

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genr

In [87]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/")

PAGE NOT FOUND

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [89]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [90]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [91]:
#scrapping Names
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name[:15]:
    Name.append(i.text)

In [92]:
#scrapping Year span
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year[:15]:
    Year_span.append(i.text)

In [93]:
#scrapping Genre
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre[:15]:
    Genre.append(i.text)

In [94]:
#scrapping Run time
runtime=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runtime[:15]:
    Run_time.append(i.text)

In [95]:
#scrapping Ratings
rating=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
for i in rating[:15]:
    Ratings.append(i.text)

In [96]:
#scrapping Votes
vote=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span")
for i in vote[:15]:
    Votes.append(i.text)

In [97]:
#checking the length of each list     
print(len(Name))
print(len(Year_span))
print(len(Genre))
print(len(Run_time))
print(len(Ratings))
print(len(Votes))

15
15
15
15
15
15

In [98]:
#creating a dataframe
df=pd.DataFrame({'name':Name,
                'year':Year_span,
                'genre':Genre,
                'runtime':Run_time,
                 'rating':Ratings,
                'vote':Votes})
df.head(100)

,name,year,genre,runtime,rating,vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,TV-MA
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,,|
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,Rate,57 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,,|
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,,"Action, Adventure, Drama"
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",59 min,,Votes:
6,Riverdale,(2017– ),"Crime, Drama, Mystery",45 min,,"1,804,098"
7,Grey's Anatomy,(2005– ),"Drama, Romance",41 min,,TV-14
8,The Flash,(2014– ),"Action, Adventure, Drama",43 min,,|
9,Arrow,(2012–2020),"Action, Adventure, Crime",42 min,,51 min
10,Money Heist,(2017– ),"Action, Crime, Mystery",70 min,,|
11,The Big Bang Theory,(2007–2019),"Comedy, Romance",22 min,,"Drama, Fantasy, Horror"
12,Black Mirror,(2011– ),"Drama, Sci-Fi, Thriller",60 min,,Votes:
13,Sherlock,(2010–2017),"Crime, Drama, Mystery",88 min,,"848,937"
14,Vikings,(2013–2020),"Action, Adventure, Drama",44 min,,TV-14

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [99]:
driver.get("https://archive.ics.uci.edu/")

In [100]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [106]:
 # Locating search_button for Show all Dataset by xpath
search_button = driver.find_element_by_xpath('//span[@class="whitetext"]/a')      
search_button.click()

In [119]:
#scrapping Dataset name
name=driver.find_elements_by_xpath("//p[@class='normal']/a")
for i in name[:100]:
    Dataset_name.append(i.text)

In [108]:
#scrapping Data type
datatype=driver.find_elements_by_xpath("//p[@class='normal']")
for i in datatype[:100]:
    Data_type.append(i.text)

In [109]:
#scrapping Task
task=driver.find_elements_by_xpath("//p[@class='normal']")
for i in task[:100]:
    Task.append(i.text)

In [110]:
#scrapping Attribute type
attribute=driver.find_elements_by_xpath("//p[@class='normal']")
for i in attribute[:100]:
    Attribute_type.append(i.text)

In [111]:
#scrapping No_of_instances name
instance=driver.find_elements_by_xpath("//p[@class='normal']")
for i in instance[:100]:
    No_of_instances.append(i.text)

In [112]:
#scrapping No_of_attributes
atrbt=driver.find_elements_by_xpath("//p[@class='normal']")
for i in atrbt[:100]:
    No_of_attribute.append(i.text)

In [113]:
#scrapping year
year=driver.find_elements_by_xpath("//p[@class='normal']")
for i in year[:100]:
    Year.append(i.text)

In [120]:
#checking the length of each list     
print(len(Dataset_name))
print(len(Data_type))
print(len(Task))
print(len(Attribute_type))
print(len(No_of_instances))
print(len(No_of_attribute))
print(len(Year))

120
100
100
100
100
100
100

In [121]:
#creating a dataframe
df=pd.DataFrame({'datatype':Data_type,
                'task':Task,
                'attribute':Attribute_type,
                'instance':No_of_instances,
                 'atrbt':No_of_attribute,
                'year':Year})
df.head(100)

,datatype,task,attribute,instance,atrbt,year
0,Classification (442)\nRegression (137)\nCluste...,Classification (442)\nRegression (137)\nCluste...,Classification (442)\nRegression (137)\nCluste...,Classification (442)\nRegression (137)\nCluste...,Classification (442)\nRegression (137)\nCluste...,Classification (442)\nRegression (137)\nCluste...
1,Categorical (38)\nNumerical (396)\nMixed (55),Categorical (38)\nNumerical (396)\nMixed (55),Categorical (38)\nNumerical (396)\nMixed (55),Categorical (38)\nNumerical (396)\nMixed (55),Categorical (38)\nNumerical (396)\nMixed (55),Categorical (38)\nNumerical (396)\nMixed (55)
2,Multivariate (456)\nUnivariate (27)\nSequentia...,Multivariate (456)\nUnivariate (27)\nSequentia...,Multivariate (456)\nUnivariate (27)\nSequentia...,Multivariate (456)\nUnivariate (27)\nSequentia...,Multivariate (456)\nUnivariate (27)\nSequentia...,Multivariate (456)\nUnivariate (27)\nSequentia...
3,Life Sciences (138)\nPhysical Sciences (57)\nC...,Life Sciences (138)\nPhysical Sciences (57)\nC...,Life Sciences (138)\nPhysical Sciences (57)\nC...,Life Sciences (138)\nPhysical Sciences (57)\nC...,Life Sciences (138)\nPhysical Sciences (57)\nC...,Life Sciences (138)\nPhysical Sciences (57)\nC...
4,Less than 10 (151)\n10 to 100 (266)\nGreater t...,Less than 10 (151)\n10 to 100 (266)\nGreater t...,Less than 10 (151)\n10 to 100 (266)\nGreater t...,Less than 10 (151)\n10 to 100 (266)\nGreater t...,Less than 10 (151)\n10 to 100 (266)\nGreater t...,Less than 10 (151)\n10 to 100 (266)\nGreater t...
...,...,...,...,...,...,...
95,Categorical,Categorical,Categorical,Categorical,Categorical,Categorical
96,16,16,16,16,16,16
97,4,4,4,4,4,4
98,,,,,,
99,Breast Cancer,Breast Cancer,Breast Cancer,Breast Cancer,Breast Cancer,Breast Cancer